<div class="nested-fields sortable">
  <%= f.hidden_field :layout, value: 'image_gallery' %>
  <%= f.hidden_field :position, class: 'position' %>

  <div class="col-sm-12">
    <div class="sort-handle collapse-show"><i class="icon icon-move"></i></div>
    <h4>Image Gallery</h4>
  </div>

  <div class="col-sm-12 saved-images collapse-hide">
    <%= f.fields_for :blog_entry_section_images do |besi| %>
      <%= render "blog_entry_section_image_fields", f: besi %>
    <% end %>
    <div>
      <%= link_to_add_association "Add Image", f, :blog_entry_section_images %>
    </div>
  </div>

  <div class="col-sm-12 collapse-hide">
    <%= link_to_remove_association "Remove Section", f %>
  </div>

  <div class="col-sm-12 clearfix bottom-border"></div>
</div>
